@import url("https://fonts.googleapis.com/css2?family=Roboto:ital@0;1&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  background: linear-gradient(to right, rgb(60, 60, 252), rgb(75, 251, 251));
  padding: 3rem 15rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Roboto", sans-serif;
}

h1 {
  text-align: center;
  margin-bottom: 2rem;
  font-size: 2rem;
}
.screen {
  width: 100%;
  /* border: 1px solid black; */
  border: none;
  color: #fff;
  font-size: 2.5rem;
  padding: 2rem;
  background-color: rgb(65, 64, 64);
}
.buttons {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
button {
  background: transparent;
  border: 1px solid rgb(128, 126, 126);
  padding: 0.6rem 1rem;
  font-size: 2rem;
  transition: all 0.7s ease;
  text-align: center;
}
input:focus {
  outline: none;
}

.btn:hover {
  background-color: rgb(92, 128, 248);
  cursor: pointer;
}

.btn-grey {
  background-color: rgb(214, 209, 253);
}
.btn-yellow {
  background-color: coral;
}

.btn-clear {
  background-color: rgb(254, 48, 48);
  transition: 0.7s ease;
}

.btn-equal {
  background-color: rgb(74, 245, 77);
  transition: 0.7s ease;
}

.btn-clear:hover,
.btn-equal:hover {
  cursor: pointer;
  background-color: rgb(26, 247, 26);
}

.btn-clear:hover {
  background-color: brown;
}

@media (max-width: 800px) {
  body {
    padding: 8rem 3rem;
  }
}
